<Sua>Olá, {{student}}, sua matrícula foi efetuada:</p>
<p><strong>Plano:</strong> {{plan}}</p>
<p><strong>Data de Início:</strong> {{start_date}}</p>
<p><strong>Data de Término:</strong> {{end_date}}</p>
<p><strong>Valor Total:</strong> {{price}}</p>
<p><small>*Sugerimos que no primeiro dia traga uma toalha de rosto e uma garrafa de água, aguardamos por você!</small></p>


